<p id="notice"><%= notice %></p>
<div class='main'>
	<table class="table table-striped">
		<tr>
            <p>
              <strong>Merchant:</strong>
              <%= @expenses.merchant %>
            </p>

            <p>
              <strong>Comment:</strong>
              <%= @expenses.comment %>
            </p>

            <p>
              <strong>Category:</strong>
              <%= @expenses.category %>
            </p>

            <p>
              <strong>Total:</strong>
              <%= @expenses.total %>
            </p>

            <p>
              <strong>Date:</strong>
              <%= @expenses.date %>
            </p>
        </tr>
    </table>
</div>

<%= render 'form' %>

